@{
    ViewBag.Title = "SpecialOffers";
}

@model List<Resturant.Models.SpecialOffer>
@using Resturant.Models;
<!-- Fixed navbar -->
@if (ViewBag.Session == null)
{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="~/Content/AdminThemeFiles/images/logo.png" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#about">Menu</a></li>
                    <li><a href="#contact">Location</a></li>
                    <li><a href="#contact">CATERING</a></li>
                    <li><a href="#contact">CAREERS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li class="order-online"><a href="#contact">Order Online</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-inverse navbar-fixed-top nav-small">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt=""></a>
            </div>
            <a class="cutom-anc" href="#"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></a>
            <ul class="custom-nav">
                <li> <a class="active" href="#">Fingers &amp; Poppers</a> </li>
                <li> <a href="#">Signature Creations</a> </li>
                <li> <a href="#">Sandwiches</a> </li>
                <li> <a href="#">Wraps / Salads</a> </li>
                <li> <a href="#">Sides</a> </li>
                <li> <a href="#">Sauce</a> </li>
                <li> <a href="#">Drinks</a> </li>
            </ul>
            <div class="order-now-top-button"> <a href="#">Checkout</a> </div>
            <a class="login-small" href="#">
                <img src="~/Content/images/user.png" alt="">
                <!--/.nav-collapse -->

        </div>
    </nav>
}
<div class="container-fluid menu-bg" style="margin-top:-0.02%;">
    <div class="row">
        <div class="col-xs-12">
            <div class="bg-white maxw800 menu-wrapper">
                <h2 class="text-center">MENU</h2>
                <h3 class="text-center">PLEASE CHOOSE A LOCATION</h3>
                <div class="select-wrapper blackSelect maxw300">
                    <select class="form-control w108P">
                        <option>Today</option>
                    </select>
                </div>
                <h3 class="text-center mb30">FIND OUR GREENWICH VILLAGE MENU BELOW.</h3>
                <p class="text-center mb30"><a class="btn btn-primary" href="#">ORDER NOW</a></p>
                <div class="menu-category">
                    <table class="table m0">

                        @foreach (SpecialOffer specialOffer in Model.ToList())
                        {
                            <tr>
                                <td><h3 class="m0"><a data-toggle="modal" data-id=@specialOffer.Id title="Add this item" class="open-FoodItem btn" href="#SpecialOfferDialog"> @specialOffer.Name <small>@specialOffer.Description</small></a> </h3></td>
                                <td class="price text-right">$@specialOffer.Price</td>
                            </tr>

                        }

                    </table>
                    </div>
                    <div class="clr"></div>
                </div>
            <p class="text-center mt20">* Extra charge for additional ingredients.</p>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>


<script>
            var OrderN=0;
            var amount = 0;
            var name = "";
            var count = 0;
            function handleClick(cb) {

                if (cb.checked)
                {

                    amount = amount + parseInt(cb.value);

                }
                else
                {

                    amount = amount - parseInt(cb.value);
                }

                document.getElementById("mob").innerHTML = name + ',' + amount;
                 alert(amount);
                $(cb).change(function () {
                    //do something when the user clicks the box



                });

            }
         
            function displayFoodModal(FoodItemId) {
                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: '@Url.Action("GetSpecialOfferItem", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { SpecialOfferID: FoodItemId },
                    success: function (response) {
                        amount = parseInt(response.Price);
                        var $el = $("#Fooddescription");
                        var $price = $("#btnsubmit");
                        name = response.Size;
                        $el.empty(); // remove old options
                        $el.append($("<h3 class='modal-title' id='myModalLabel'>" + response.Size + "<span class='pull-right'> $" + amount + "</span></h3> <p hidden id='mob'>" + response.Size + ',' + amount + "</p>"))
                        $price.removeAttr("data-price")
                        $price.attr("data-price", amount)


                    },
                    error: function (response) { alert(response); }

                });

            }
            function displayAddonModal(FoodItemId) {
                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: '@Url.Action("GetAddOnBySpecialOfferId", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { sId: FoodItemId },
                    success: function (response) {

                        var $el = $("#modalTable");
                        $el.empty(); // remove old options

                        $.each(response, function (value, key) {

                            $el.append($("<tr> <td width='50%'><input onclick='handleClick(this);' id='"+key.Id+ "' type='checkbox' name= '" + key.Price + "' value='" + key.Price + "'>  <label id= 'kdf' name='" + key.Name + " value='" + key.Price + "'>" + key.Name + "</label><p type='text' id='" + key.Id + "' hidden >" + key.Name + '                   ' + key.Price + " </p> <span class='pull-right'>  $ " + key.Price + "</span></td></tr>"))

                        });
                    },
                    error: function (response) { alert(response); }

                });

            }


          
    $(document).on("click", ".open-FoodItem", function () {

                var myFoodItemId = $(this).data('id');
                $(".modal-body #foodItemId").val(myFoodItemId);
                var $el = $("#modalTable");
                $el.empty(); // remove old options

                displayAddonModal(myFoodItemId);
                displayFoodModal(myFoodItemId);
                // As pointed out in comments,
                // it is superfluous to have to manually call the modal.
                $('#show_AddOns').toggle();
                // $('#addBookDialog').modal('show');
            });
</script>
<div id="SpecialOfferDialog" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="Fooddescription"></div>
            </div>
            <form action="AddtoOrder" method="post" onsubmit="updateBasket()">
                <div class="modal-body">


                    <h4>Add it into the Basket<small></small></h4>
                    <table id="modalTable" class="table mb0">
                        <tr>
                            <td width="50%">
                                <input id="checkbox3" type="checkbox" name="" value="3">
                                <label>SMALL CLASSIC FRY</label>
                                <span class="pull-right"> $0.92</span>
                            </td>
                            <td width="50%">
                                <input id="checkbox3" type="checkbox" name="" value="3">
                                <label>SMALL CAJUN FRY</label>
                            </td>
                        </tr>
                    </table>
                    <input type="text" hidden id="foodItemId" name="foodItemId" />
                    <div class="dots mt0 mb0">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>QUANTITY</h4>
                            <input class="spinner">
                        </div>
                        <div class="col-sm-8">
                            <h4>SPECIAL INSTRUCTIONSAnything <small>we need to be aware of?</small></h4>
                            <textarea class="form-control custom-textarea" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btnsubmit" data-price="" type="submit" class="cd-add-to-cart btn btn-primary" value="ADD to Order" />
                </div>
            </form>
        </div>
    </div>
</div>
